@font-face {
    font-family: "hg-semibold";
    src: url('../assets/fonts/HindGuntur-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: "hg-bold";
    src: url('../assets/fonts/HindGuntur-Bold.ttf') format("truetype");
}

.modal-title {
    font-family: "hg-bold";
    font-size: 6vh;
    line-height: 1;
}

.my-font {
    font-family: "hg-semibold";
    font-size: 4vh;
    line-height: 1;
    margin-top: 8vh;
}

.upload {
    display: none;
}

.custom-upload {
    background-color: white;
    display: inline-block;
    padding: 1.5vh 3vh;
    cursor: pointer;
    border-radius: 1vh;
    margin-top: 5vh;
    font-size: large;
}

.drop-shadow {
    filter: drop-shadow(0 0 1rem black);
}

.background {
    background-image: url("../assets/images/modalBackground.svg");
}