@font-face {
    font-family: "hg-regular";
    src: url('../assets/fonts/HindGuntur-Regular.ttf') format("truetype");
}

@font-face {
    font-family: "hg-semibold";
    src: url('../assets/fonts/HindGuntur-SemiBold.ttf') format("truetype");
}

.modalTitle {
    font-family: "hg-semibold";
    font-size: 5vh;
    line-height: 1;
}

.myFont {
    font-family: "hg-regular";
    font-size: 3vh;
    line-height: 1;
}

.upload {
    display: none;
}

.custom-upload {
    border: 2px solid #C2DEC4;
    display: inline-block;
    padding: 1vh 2vh;
    cursor: pointer;
    border-radius: 1vh;
    margin-top: 3vh;
    font-size: large;
}